@layout("/common/head.html"){
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">
                                               后台基于Springboot2、Beetl、Mybatis-Plus、Shiro、Redis、Nodejs等框架
                    </blockquote>
                </div>
            </div>
        </div>
       
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">框架信息</div>
                <div class="layui-card-body ">
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <th>Springboot</th>
                            <td>2.1.4</td>
                        </tr>
                        <tr>
                            <th>Mybatis-Plus</th>
                            <td>3.1.1</td>
                        </tr>
                        <tr>
                            <th>beetl</th>
                            <td>2.9.9</td>
                        </tr>
                        <tr>
                            <th>shiro</th>
                            <td>1.4.1</td>
                        </tr>
                        <tr>
                            <th>swagger</th>
                            <td>2.9.2</td>
                        </tr>
                        <tr>
                            <th>layui</th>
                            <td>2.4.5</td>
                        </tr>
                        <tr>
                            <th>xadmin</th>
                            <td>2.2.0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
@}